#tablero {
  width: 100%;
  height: auto;
  margin: auto;
  margin-left: 30%;
}

.row {
    clear:both;
}

.square {
  float:left;
  position: relative;
  overflow:hidden;
  width: 5.5%;
  padding-bottom: 5.5%; /* = width for a square aspect ratio */
}

.square:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

.white {
  background-color: rgba(250 ,235 ,215, 1.0);
}

.black {
  background-color: #4F443C;
}
